<!-- NavBar -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fas fa-cocktail logo"></i>
  <% end %>
  <!-- Button -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
         <%= link_to "Add New Cocktail", new_cocktail_path, class: "btn btn-ghost" %>
      </li>
    </ul>
  </div>
</div>

<!-- Container -->

<div class="container", style="padding-top: 32px;">

  <h1 style="margin-bottom: 16px;"><%= @cocktail.name %></h1>


  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div style="display: flex; justify-content: space-between; padding-bottom: 16px;">
        <h3>Recipe</h3>
        <%= link_to "+", new_cocktail_dose_path(@cocktail), class: "btn btn-ghost" %>
      </div>

      <table class="table table-bordered", style="padding-top: 16px;">
        <tbody>
          <thead>
            <th>Ingredient</th>
            <th>Description</th>
            <th>Action</th>
          </thead>
          <% @cocktail.doses.each do |dose| %>
            <tr>
              <td><%= dose.ingredient.name %></td>
              <td><%= dose.description %></td>
              <td>

                <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fa fa-trash destroy_dose"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div style="display: flex; justify-content: space-between; padding-top: 16px;">
    <div>
      <%= link_to "Back to all cocktails", root_path, class: 'btn btn-primary' %>
    </div>
    <div>
      <%= link_to cocktail_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-remove-link' do %>
        <i class="fas fa-trash"></i>
      <% end %>
    </div>
  </div>

</div>
